
body{
  background-color: #F5EDCE;
}
.container{
  display: flex;
  justify-content: center;
}
h2{
  letter-spacing: 2px;
  color: #85586F;
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  
}


.text{
  width: 850px;
  font-family: 'PT Sans', sans-serif;
 

}
h1{
  font-family: 'Lilita One', cursive;
  letter-spacing: 2px;
  font-size: 40px;
  color: #2C74B3;
 
}

.newButton{
  background-color: #F5EDCE;
  color:#2C74B3;
  border: none;
}
h5{
  font-family: 'PT Sans', sans-serif;
}
.btn{
  margin: 5px;
  padding: 5px;
  background-color: #2C74B3;
  font-family: 'Satisfy', cursive;
  width: 120px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 10px;
  
}




